body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}
.clear {
	clear: both;
}
.mt_all {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.mt_all .top .ban {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	height: 100px;
	width: 950px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #CC3300;
}
.mt_all .top .menu {
	background-image: url(../images/line-top2008.jpg);
	height: 39px;
	width: 950px;
}
.mt_all .top .menu .txt {
	border: 1px solid #990000;
	margin-top: 10px;
	margin-left: 20px;
	width: 220px;
}
.mt_all .top .menu .bd01 {
	float: left;
	height: 39px;
	width: 400px;
}
.mt_all .top .menu .menulist {
	font-size: 14px;
	float: left;
	height: 39px;
}
.mt_all .top .menu .menulist ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.mt_all .top .menu .menulist li {
	float: left;
	display: block;
	width: 80px;
	text-align: center;
	line-height: 25px;
	margin-top: 14px;
	font-weight: bold;
	margin-left: 2px;
}
.mt_all .top .menu .menulist .nav_a {
	background-image: url(../images/nav01.jpg);
	background-repeat: no-repeat;
}
.mt_all .top .menu .menulist .nav_b {
	background-image: url(../images/nav02.jpg);
	background-repeat: no-repeat;
}
.mt_all .top .menu .menulist li a {
	color: #FFFFFF;
	text-decoration: none;
}
.mt_all .top .menu .menulist .nav_b a:hover {
	background-repeat: no-repeat;
	display: block;
	height: 25px;
	width: 80px;
	color: #333333;
}
.mt_all .top .ban .top_ad {
	float: right;
	margin-top: 10px;
}

.mt_all .top .ban .top_ad img {
	height: 80px;
	width: 600px;
}
.mt_all .cotton03 .r_ad img {
}

.mt_all .cotton01 {
	margin-top: 15px;
}
.mt_all .cotton01 .huizhanxinxi {
	width: 220px;
	float: left;
}
ul{ margin:0px; padding:0px;}
li{margin:0px; padding:0px;}
.mt_all .cotton01 .huizhanxinxi h1 {
	background-image: url(../images/login_bg.gif);
	background-repeat: repeat-x;
	height: 31px;
	font-size: 12px;
	line-height: 31px;
	padding-left: 15px;
	margin: 0px;
	border: 1px solid #E6E6E6;
}
.mt_all .cotton01 .huizhanxinxi ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 176px;
}
.mt_all .cotton01 .huizhanxinxi li {
	display: block;
	line-height: 25px;
	text-indent: 15px;
}
.mt_all .cotton01 .mt-login {
	float: left;
	margin-left: 15px;
	width: 310px;
	height: 210px;
}
.mt_all .cotton01 .mt-login .login01 {
	background-image: url(../images/login01.jpg);
	height: 85px;
}
.mt_all .cotton01 .mt-login .login01 th {
	font-weight: normal;
	width: 60px;
	text-align: right;
}
.mt_all .cotton01 .mt-login .login01 .logintxt {
	border: 1px solid #999999;
	width: 90px;
}
.mt_all .cotton01 .mt-login .login01 a {
	line-height: 22px;
}
.mt_all .cotton01 .mt-login h1 {
	font-size: 12px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.mt_all .cotton01 .mt-login .renext {
	height: 90px;
}
.mt_all .cotton01 .mt-login .renext .renext01 {
	background-image: url(../images/login02.jpg);
	height: 90px;
	width: 235px;
}
.mt_all .cotton01 .mt-login .renext .renext01 a {
	background-image: url(../images/but02.jpg);
	display: block;
	height: 25px;
	width: 105px;
	line-height: 25px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
}
.mt_all .cotton01 .mt-login .renext .renext01 a:hover {
	background-image: url(../images/but03.jpg);
	color: #CC3300;
}
.mt_all .cotton01 .mt-login .laodinguser {
	text-align: center;
	line-height: 25px;
}
.mt_all .cotton01 .mt-login .loginend {
	height: 75px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}
.mt_all .cotton01 .mt-login .loginend h1 {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 26px;
}
.mt_all .cotton01 .mt-login .loginend span {
	display: block;
	float: left;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
}

.mt_all .cotton01 .mt-login .loginend a {
	color: #FE3A10;
	font-weight: bold;
	padding-left: 5px;
	width: 200px;
	display: block;
	float: left;
}
.mt_all .cotton01 .mt-login .loginend em {
	font-style: normal;
}
.mt_all .cotton01 .mt-login .loginend em a {
	font-weight: normal;
	color: #666666;
	width: 25px;
	float: right;
}
.mt_all .cotton01 .mt-login .loginend ul {
	margin: 0px;
	padding: 0px;
}
.mt_all .cotton01 .mt-login .loginend li {
	display: block;
	width: 120px;
	float: left;
}
.mt_all .cotton01 .mt-login .loginend li a {
	color: #666666;
	font-weight: normal;
	width: 120px;
	line-height: 25px;
	text-indent: 10px;
	background-image: url(../images/arrow1_064.gif);
	background-repeat: no-repeat;
	background-position: left;
}






.mt_all .cotton02 {
	margin-top: 15px;
}
.mt_all .cotton02 .tongjishuju {
	width: 220px;
	float: left;
}
.mt_all .cotton02 .tongjishuju h1 {
	background-image: url(../images/login_bg.gif);
	background-repeat: repeat-x;
	height: 31px;
	font-size: 12px;
	line-height: 31px;
	padding-left: 15px;
	margin: 0px;
	border: 1px solid #E6E6E6;
}
.mt_all .cotton02 .tongjishuju ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 176px;
}
.mt_all .cotton02 .tongjishuju li {
	display: block;
	line-height: 25px;
	text-indent: 15px;
}
.mt_all .cotton02 .r_cotton {
	width: 350px;
	float: left;
	margin-left: 15px;
}
.mt_all .cotton02 .r_cotton h1 {
	background-image: url(../images/rc_bg.gif);
	background-repeat: repeat-x;
	height: 32px;
	font-size: 12px;
	line-height: 31px;
	padding-left: 15px;
	margin: 0px;
	border: 1px solid #E6E6E6;
}
.mt_all .cotton02 .r_cotton ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 175px;
}
.mt_all .cotton02 .r_cotton li {
	display: block;
	line-height: 25px;
	text-indent: 15px;
}
.mt_all .cotton03 {
	margin-top: 15px;
}
.mt_all .cotton03 .hangqing {
	width: 220px;
	float: left;
}
.mt_all .cotton03 .hangqing h1 {
	background-image: url(../images/login_bg.gif);
	background-repeat: repeat-x;
	height: 31px;
	font-size: 12px;
	line-height: 31px;
	padding-left: 15px;
	margin: 0px;
	border: 1px solid #E6E6E6;
}
.mt_all .cotton03 .hangqing ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 271px;
}
.mt_all .cotton03 .hangqing li {
	display: block;
	line-height: 25px;
	text-indent: 15px;
}
.mt_all .cotton03 .r_ad {
	height: 80px;
	width: 715px;
	float: right;
	margin-bottom: 15px;
	
}
.mt_all .cotton03 .r_ad img {
	height: 80px;
	width: 715px;
}


.mt_all .cotton03 .r_cotton {
	width: 350px;
	float: left;
	margin-left: 15px;
}
.mt_all .cotton03 .r_cotton h1 {
	background-image: url(../images/rc_bg.gif);
	background-repeat: repeat-x;
	height: 32px;
	font-size: 12px;
	line-height: 31px;
	padding-left: 15px;
	margin: 0px;
	border: 1px solid #E6E6E6;
}
.mt_all .cotton03 .r_cotton h1 em {
	font-style: normal;
	display: block;
	float: left;
}
.mt_all .cotton03 .r_cotton h1 a {
	display: block;
	float: left;
	font-weight: normal;
}
.mt_all .cotton03 .r_cotton h1 a:hover {
	font-weight: normal;
	background-image: url(../images/bars_tab_bg_hover.gif);
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #F24225;
	height: 22px;
}
.mt_all .cotton03 .r_cotton .bq01 {
	background-image: url(../images/bars_tab_bg_hover.gif);
	height: 22px;
	background-repeat: repeat-x;
	line-height: 22px;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #F24225;
	color: #FFFFFF;
	margin: 3px;
}
.mt_all .cotton03 .r_cotton .bq02 {
	background-image: url(../images/tab_bg.gif);
	background-repeat: repeat-x;
	height: 23px;
	padding-right: 3px;
	padding-left: 3px;
	line-height: 23px;
	margin: 3px;
	border: 1px solid #E4E4E4;
}


.mt_all .cotton03 .r_cotton ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 175px;
}
.mt_all .cotton03 .r_cotton .tb_bg {
	color: #999999;
	line-height: 22px;
	width: 340px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.mt_all .cotton03 .r_cotton .tb_bg th {
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	color: #FF6600;
	text-align: left;
	text-indent: 5px;
}
.mt_all .cotton03 .r_cotton .tb_bg em {
	font-weight: bold;
	font-style: normal;
	color: #993300;
}
.mt_all .cotton04 {
	margin-top: 15px;
}
.mt_all .cotton04 .l_ad {
	float: left;
	height: 80px;
	width: 220px;
}
.mt_all .cotton04 .l_ad img {
	height: 80px;
	width: 220px;
}
.mt_all .cotton04 .r_ad {
	float: right;
	height: 80px;
	width: 715px;
}
.mt_all .cotton04 .r_ad img {
	height: 80px;
	width: 715px;
}
.mt_all .linklist {
	margin-top: 15px;
}

.mt_all .linklist h1 {
	background-image: url(../images/rc_bg.gif);
	background-repeat: repeat-x;
	height: 32px;
	font-size: 12px;
	line-height: 31px;
	padding-left: 15px;
	margin: 0px;
	border: 1px solid #E6E6E6;
}
.mt_all .linklist ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #E6E6E6;
	height: 60px;
}
.mt_all .linklist li {
	display: block;
	float: left;
	width: 174px;
	line-height: 30px;
	padding-left: 15px;
}
.mt_all .bottom {
	margin-top: 15px;
}
.mt_all .bottom h1 {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	line-height: 30px;
	background-color: #666666;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.mt_all .bottom a {
	color: #FFFFFF;
}
.mt_all .bottom ul {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.mt_all .bottom li {
	line-height: 30px;
	color: #999999;
}




 .tb-slide {
     overflow:hidden;
     position:relative;
     float: left;
	 height: 210px;
	 width: 390px;
	 
 }

 .slide-player {
     height:210px;
     overflow:hidden;
     position:relative;
     width:390px;
 }
 
 .tb-slide ul.tb-slide-list {
	overflow:hidden;
	margin:0px;
	padding-left: 15px;
 }
 
 .tb-slide .triggers {
     bottom:5px;
     height:21px;
     list-style-image:none;
     list-style-position:outside;
     list-style-type:none;
     margin:0;
     padding:0;
     position:absolute;
     right:2px;
     z-index:10;
 }
 
 li{
     list-style-image:none;
     list-style-position:outside;
     list-style-type:none;
 }
 
 .triggers li.current {
     -moz-background-clip:border;
     -moz-background-inline-policy:continuous;
     -moz-background-origin:padding;
     background:#74A8ED none repeat scroll 0 0;
     border:1px solid #EEEEEE;
     color:#FFFFFF;
     font-size:16px;
     font-weight:bold;
     height:19px;
     line-height:19px;
     margin:0 3px;
     width:19px;
 }

 .triggers li {
     -moz-background-clip:border;
     -moz-background-inline-policy:continuous;
     -moz-background-origin:padding;
     -x-system-font:none;
     background:#FFFFFF none repeat scroll 0 0;
     border:1px solid #74A8ED;
     color:#74A8ED;
     cursor:pointer;
     float:left;
     font-family:Arial;
     font-size:12px;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     height:15px;
     line-height:normal;
     margin:2px 3px;
     text-align:center;
     width:15px;
 }
 
 .btnlogin{
    background: white url(../images/BUT01.jpg) no-repeat scroll 0 0;
    width:59px;
    height:67px;
 }

/*=== 新增页面头部样式 ===*/
.header {width:950px; height:141px; background:url(../images/header_bg.gif) repeat-x; text-align:left; margin:0 auto; position:relative; z-index:1000;}
.logo {width:270px; height:74px; background:url(../images/logo.gif) no-repeat; text-indent:-9999em; margin:15px 0 0 15px; display:inline; float:left; overflow:hidden;}
.logo a {width:270px; height:74px; display:block; overflow:hidden;}
.topNav {color:#000; font-size:12px; text-align:right; padding:30px 20px 0 0; display:inline; float:right;}
.topNav a:link,.topNav a:visited {color:#000; text-decoration:none;}
.topNav a:hover {color:#c00; text-decoration:underline;}
.mainNav {width:400px; height:26px; background:url(../images/nav_bg.gif) no-repeat; list-style:none; margin:-12px 0 0 330px; padding:0; display:inline; float:left; text-align:left;}
.mainNav li {width:78px; height:26px; background:url(../images/nav_bg3.gif) no-repeat right top; font-size:14px; font-weight:bold; line-height:26px; text-align:center; padding-right:2px; display:inline; float:left;}
.mainNav li.current {width:83px; height:29px; background:url(../images/nav_bg2.gif) no-repeat; line-height:29px; padding:0; margin:-2px 0 0 -3px; position:relative;}
.mainNav li a:link,.mainNav li a:visited {color:#F5F8D5; text-decoration:none;}
.mainNav li a:hover {color:#F5F8D5; text-decoration:underline;}
.mainNav li.current a:hover {text-decoration:none;}
.searchBar {width:950px; height:38px; clear:both;}
.searchBody {padding:8px 20px 0 15px; display:inline; float:left;}
.searchKeyword {color:#fff; font-size:12px; line-height:38px; float:left;}
.searchKeyword a:link,.searchKeyword a:visited {color:#fff; text-decoration:none;}
.searchKeyword a:hover {color:#fff; text-decoration:underline;}
.input_text {width:320px; height:14px; background:#fff; border:1px solid #C53C0E; color:#a0a0a0; font-size:12px; padding:3px; float:left;}
.input_button {width:66px; height:22px; background:url(../images/btn_bg.gif) repeat-x; border:1px solid #C53C0E; color:#000; font-size:12px; line-height:22px; text-align:center; margin:0 0 0 8px; display:inline; float:left; cursor:pointer;}
.selectBar{width:auto; border:1px solid #C53C0E; color:#000; font-size:12px; font-style:normal; margin-left:-1px; float:left; display:inline; position:relative; z-index:1000;}
.selectBar .selectTitle {width:40px; background:#fff url(../images/icon_bg.gif) no-repeat right 8px; line-height:18px; padding:2px 18px 0 10px; cursor:pointer;}
.selectBar .selectBody {width:58px; background:#fff; border:1px solid #C53C0E; border-top:none; list-style:none; padding:0; margin:0; position:absolute; top:20px; left:-1px; z-index:1000; display:none;}
.selectBar .selectBody li {height:21px; line-height:21px; overflow:hidden;}
.selectBar .selectBody a:link,.selectBar .selectBody a:visited,.selectBar .selectBody a:hover {color:#000; text-decoration:none; padding-left:10px; display:block;}
.selectBar .selectBody a:hover {background:#e2e2e2;}