@charset "utf-8";
/* CSS Document */

/*=== 页面布局 ===*/
body {background:#fff url(../images/login_body_bg.gif) repeat-x left top; color:#404040; font:12px SumSun, Arial, Helvetica, sans-serif; text-align:center; margin:0 auto;}

/*=== 登录 ===*/
.login {width:602px; margin:100px auto; text-align:left;}
.logo {width:238px; height:47px; padding-left:30px; overflow:hidden;}
.loginBody {width:362px; height:245px; background:url(../images/login_bg.gif) no-repeat; padding-left:240px;}
.loginNotice {height:35px; color:#0053AB; font-size:20px; font-weight:bold; font-family:"黑体"; text-align:center; padding-top:20px; }
.loginTable {width:100%; color:#666666; line-height:24px;}
.loginTable th,.loginTable td {vertical-align:top; padding-bottom:10px;}
.loginTable th {width:22%; text-align:right;}
.loginTable td {text-align:left;}
.login .input_text {width:170px; height:14px; background:#fff; border:1px solid #B8B8B8; padding:4px;}
.login .input_button {width:82px; height:32px; background:url(../images/btn_bg.gif) no-repeat; border:none; color:#fff; font-size:14px; font-weight:bold; line-height:32px; cursor:pointer;}
.loginTable .alert {height:16px; background:url(../images/alert_bg.gif) no-repeat left top; color:#fe0000; line-height:16px; padding-left:20px; display:block; margin-top:6px;}


/*=== 版权 ===*/
.footer {height:160px; background:url(../images/login_footer_bg.gif) repeat-x left top; font-family:Arial, Helvetica, sans-serif; line-height:60px; text-align:center;}

