<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="Source" value ="BaiduNews"/>
  <add key="KeyWordsFile" value="F:\Autonomy\KEYWORDS\key.txt" />
  <add key="KeyWords" value="榆林;武器 台湾;谷歌 退出;旱情;抗旱救灾;达赖;血案;走私;暴力抗法;侵犯;踩踏;地震;逃税;违规;爆炸;瓦斯爆炸;坍塌;事故;论文 抄袭;温家宝;张德江;习近平;胡锦涛" />
  <add key="OutFileDirectory" value="C:\Autonomy\0327\" />
  <add key="GenSameNews" value ="false"/>
  </appSettings>
</configuration>